.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


:root {

    /* ----- Colors ----- */
    --pc-darkBlue: hsl(243, 87%, 12%);
    --pc-saturatedBlue: hsl(238, 22%, 44%);

    --sc-blue: hsl(224, 93%, 58%);
    --sc-cyan: hsl(170, 45%, 43%);

    --nc-white: hsl(240, 75%, 98%);
    --nc-gray: hsl(0, 0%, 75%);


    /* ----- Typography ----- */

    --f-ralewey: 'Raleway', sans-serif;
    --f-openSans: 'Open Sans', sans-serif;
}

/* 
    ================

    ----- Body -----

    ================
*/

body {
    background-color: var(--nc-white);
}

/* 
    ==================

    ----- Header -----

    ==================
*/

header {
    min-width: 100vw;
    min-height: auto;
    padding: 2.7rem 2.7rem 0 2.7rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .header-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
}

.header-container .header-links {
    font-family: var(--f-ralewey);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--pc-darkBlue);
}

.logoXL {
    display: none;
}

@media (min-width: 730px) {

    .logoSM {
        display: none;
    }

    .logoXL {
        display: block;
    }
 
    .header-container .header-links {
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: .2rem;
    }
}