.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


:root {

    /* ----- Colors ----- */
    --pc-darkBlue: hsl(243, 87%, 12%);
    --pc-saturatedBlue: hsl(238, 22%, 44%);

    --sc-blue: hsl(224, 93%, 58%);
    --sc-cyan: hsl(170, 45%, 43%);

    --nc-white: hsl(240, 75%, 98%);
    --nc-gray: hsl(0, 0%, 75%);


    /* ----- Typography ----- */

    --f-ralewey: 'Raleway', sans-serif;
    --f-openSans: 'Open Sans', sans-serif;
}



/* 
    =====================

    ----- Utilities -----

    =====================
*/



.title {
    font-family: var(--f-openSans);
    color: var(--pc-darkBlue);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
}


.text {
    font-family: var(--f-openSans);
    color: var(--pc-darkBlue);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    max-width: 60ch;
}


.text-2 {
    font-family: var(--f-openSans);
    color: var(--pc-darkBlue);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: .25rem;
    max-width: 60ch;
}


.subtitle {
    font-family: var(--f-ralewey);
    color: var(--pc-darkBlue);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.link {
    border-bottom: 1px solid var(--sc-cyan);
}


.link span {
    font-family: var(--f-openSans);
    color: var(--sc-cyan);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
}


input {
    border: 1px solid var(--pc-darkBlue);
    font-family: var(--f-ralewey);
    color: var(--nc-gray);
    padding: 1.3rem 0 1.3rem 2.1rem;
    border-radius: 5px;
    min-height: 4rem;
    min-width: 24rem;
    outline: none;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: .1rem;
}


button {
    border: none;
    font-family: var(--f-ralewey);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #FFFFFF;
    min-height: 4rem;
    min-width: 24rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.6rem;
    cursor: pointer;
}


.button-1 {
    background-color: var(--sc-blue);
}

.button-2 {
    background-color: var(--pc-saturatedBlue);
}



/* 
    ================

    ----- Body -----

    ================
*/



body {
    background-color: #FFFFFF;
}



/* 
    ==================

    ----- Header -----

    ==================
*/



header {
    min-width: 100vw;
    min-height: auto;
    padding: 2.7rem 2.7rem 0 2.7rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .header-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
}

.header-container .header-links {
    font-family: var(--f-ralewey);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--pc-darkBlue);
}

.logoXL {
    display: none;
}

@media (min-width: 730px) {

    header {
        padding: 2.7rem 4rem 0 4rem;
    }

    .logoSM {
        display: none;
    }

    .logoXL {
        display: block;
    }
 
    .header-container .header-links {
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: .2rem;
    }
}



/* 
    ================

    ----- Main -----

    ================
*/



main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10rem;
    min-width: 100%;
}

@media (max-width: 768px) {
    main {
        max-width: 768px;
        margin: 0 auto;
    }   
}



/* 
    ----- Section 1 -----
*/

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 5rem auto;
    min-height: 60rem;
    width: auto;
    max-width: 32rem;
    text-align: center;
}

.section-1 i {
    background-image: url("../images/illustration-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 23rem;
    min-width: 32rem;
}

.section-1 .intro-info {
    min-height: 37rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.section-1 .intro-info .text {
    padding: 0 .8rem;
}


.intro-info form input,
.intro-info form button {
    width: 30rem;
}

.intro-info form button:hover {
    background-color: var(--pc-darkBlue);
}


.intro-info form input {
    margin-bottom: 1.6rem;
}



@media (min-width: 768px) {
    .section-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: 128rem;
        width: auto;
        min-height: 47.4rem;
        margin: 0 4rem;
    }

    .section-1 i {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: 40rem;
        max-height: 40rem;
    }

    .section-1 .intro-info {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-content: space-evenly;
    }


    .intro-info form {
        display: flex;
        gap: 1.5rem;
    }


    .intro-info form input {
        max-height: 4.5rem;
        max-width: 20rem;
        min-width: 0;
    }


    .intro-info form button {
        max-height: 4.5rem;
        max-width: 22rem;
        min-width: 0;
    }
}



@media (min-width: 1140px) {
    .section-1 .intro-info {
        justify-content: space-around;
    }
}












/* 
    ----- Section 2 -----
*/



.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--nc-white);
    gap: 8.7rem;
    padding: 0 2.7rem 8rem;
    margin: 20rem 0 0;
    text-align: center;
    height: auto;
}


.section-2 .svg-top {
    position: absolute;
    top: -11rem;
    left: 0;
    right: 0;
    background-image: url("../images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    min-height: 11rem;
    min-width: 100%;
}


.section-2 .svg-illustration {
    background-image: url("../images/illustration-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 26rem;
    min-width: 32rem;
}


.section-2 .description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.description .subtitle {
    margin-bottom: 2.4rem;
    max-width: 60ch;
}


.description .subtitle + .text {
    margin-bottom: 1.6rem;
}


.description .link {
    display: flex;
    align-items: center;
    gap: .8rem;
    min-width: 13rem;
    min-height: 2.3rem;
    margin: 3.6rem auto 4.7rem;
}


.description .link i {
    background-image: url("../images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1.6rem;
    height: 1.6rem;
}


.section-2 .card {
    background-color: #FFFFFF;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 5px;
    margin: 0 2.1rem;
    max-width: 100%;
    min-height: 17rem;
    max-height: 18rem;
    text-align: left;
    padding: 0 1.3rem 0 2.6rem;
}


.card-footer {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.card-footer i {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url("../images/avatar-testimonial.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.card-footer h3 {
    grid-column: 2 / 3;
    grid-template-rows: 1 / 2;
    color: var(--pc-darkBlue);
    font-family: var(--f-openSans);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: .45px;
}

.card-footer span {
    grid-column: 2 / 3;
    grid-template-rows: 2 / 3;
    color: var(--pc-darkBlue);
    font-family: var(--f-openSans);
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.1rem;
    letter-spacing: .3px;
}



/* 
    ----- Section 3 -----
*/



.section-3 {
    background-color: var(--pc-saturatedBlue);
    padding: 5.3rem 4.8rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.6rem;
    text-align: center;
}


.section-3 h2,
.section-3 .text {
    color: #FFFFFF;
}


.section-3 form input,
.section-3 form button {
    width: 100%;
}

.section-3 form button {
    background-color: var(--sc-blue);
}

.section-3 form button:hover {
    opacity: .5;
}


.section-3 form input {
    margin: .6rem 0 1.6rem;
}